@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">The Joel Hilton Film Collection</h1>
<div>
    <img src="~/img/missionsix.jpg" />
</div>

<div>
    <a asp-controller = "Home" asp-action = "WatchList">View Watch List</a>
</div>
